<section class="text-center" id="careers">
    <h3>Careers</h3>
    <p style="text-align:center;">Please send your resume to
        <a href="mailto:shiju@payloadcargo.com" style="color:#000000;text-decoration:none;font-weight:bold;">shiju@payloadcargo.com</a> and indicate the position applied in the subject of the Email.</p>
</section>

<section id="career">
    <div class="container-fluid career">
        <div class="row">
            <div class="career_content text-center">
                <div class="col-md-12">
                    <div class="career1 col-md-6">
                        <h3>Operations Executive</h3>
                        <p>Graduate with Minimum 3 years working experience in Freight and Logistics industry.</p>

                    </div>
                    <div class="career2 col-md-6">
                        <h3>Sales Executive</h3>
                        <p>Graduate with Minimum 3 years working experience in UAE either sea freight or Air Freight.UAE driving
                            license is a must.</p>

                    </div>

                </div>
                <div class="col-md-12">
                    <h3 class="text-center">Special Note To All Recruitment Agencies:</h3>
                    <p>Payload Cargo LLC. appreciates your interest in supporting our recruiting efforts, however, we are not
                        currently adding new recruiting services vendors at this time. Please do not forward unsolicited
                        resumes to our e-mail jobs alias, Payload Cargo LLC. employees or any other company location. Payload
                        Cargo LLC. is not responsible for any fees related to unsolicited resumes. Recruitment agency resumes
                        referred to postings on this website or recruitment websites utilized by Payload Cargo LLC. are considered
                        unsolicited unless such recruitment agency has a fully executed recruiting services vendor agreement
                        with Payload Cargo LLC.'s Human Resources Department.</p>
                </div>
            </div>
        </div>
    </div>
</section>