<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Careers </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="home">Home</a>
        </li>
        <li class="breadcrumb-item active">Careers</li>
    </ol>

    <p style="text-align:center;">Please send your resume to
        <a href="mailto:shiju@payloadcargo.com" style="color:#000000;text-decoration:none;font-weight:bold;">shiju@payloadcargo.com</a> and indicate the position applied in the subject of the Email.</p>

    <div class="row">
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#">
                    <img class="card-img-top" src="../assets/images/operations.jpg" alt="">
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Operations Executive</a>
                    </h4>
                    <p class="card-text">Graduate with Minimum 3 years working experience in Freight and Logistics industry.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card h-100">
                <a href="#">
                    <img class="card-img-top" src="../assets/images/sales.jpg" alt="">
                </a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">Sales Executive</a>
                    </h4>
                    <p class="card-text">Graduate with Minimum 3 years working experience in UAE either sea freight or Air Freight.UAE driving
                        license is a must.
                    </p>
                </div>
            </div>
        </div>

    </div>
    <br>
    <br>
    <div class="row">
        <h3 class="text-center">Special Note To All Recruitment Agencies:</h3>
        <p>Payload Cargo LLC. appreciates your interest in supporting our recruiting efforts, however, we are not currently
            adding new recruiting services vendors at this time. Please do not forward unsolicited resumes to our e-mail
            jobs alias, Payload Cargo LLC. employees or any other company location. Payload Cargo LLC. is not responsible
            for any fees related to unsolicited resumes. Recruitment agency resumes referred to postings on this website
            or recruitment websites utilized by Payload Cargo LLC. are considered unsolicited unless such recruitment agency
            has a fully executed recruiting services vendor agreement with Payload Cargo LLC.'s Human Resources Department.</p>
    </div>

</div>
<!-- /.container -->