<!-- Page Content -->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">News and Events </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="home">Home</a>
        </li>
        <li class="breadcrumb-item active">News and Events</li>
    </ol>

    <p>Apart from all work, we unwind ourselves to some sports!!</p>
    <p>Take a glance at our exclusive cricket team.</p>


    <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a>
                    <img class="card-img-top" src="../assets/images/News&Events/2017-09-23-PHOTO-00000554.jpg">
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a>
                    <img class="card-img-top" src="../assets/images/News&Events/2017-09-23-PHOTO-00000555.jpg">
                </a>

            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a>
                    <img class="card-img-top" src="../assets/images/News&Events/2017-09-23-PHOTO-00000556.jpg">
                </a>

            </div>
        </div>

        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a>
                    <img class="card-img-top" src="../assets/images/News&Events/2017-09-23-PHOTO-00000560.jpg">
                </a>

            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a>
                    <img class="card-img-top" src="../assets/images/News&Events/2017-09-23-PHOTO-00000558.jpg">
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a>
                    <img class="card-img-top" src="../assets/images/News&Events/2017-09-23-PHOTO-00000559.jpg">
                </a>

            </div>
        </div>

        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a>
                    <img class="card-img-top" src="../assets/images/News&Events/2017-09-23-PHOTO-00000557.jpg">
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a>
                    <img class="card-img-top" src="../assets/images/News&Events/2017-09-23-PHOTO-00000561.jpg">
                </a>

            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a>
                    <img class="card-img-top" src="../assets/images/News&Events/2017-09-23-PHOTO-00000562.jpg">
                </a>

            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a>
                    <img class="card-img-top" src="../assets/images/News&Events/2017-09-23-PHOTO-00000563.jpg">
                </a>

            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a>
                    <img class="card-img-top" src="../assets/images/News&Events/2017-09-23-PHOTO-00000564.jpg">
                </a>

            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a>
                    <img class="card-img-top" src="../assets/images/News&Events/2017-09-23-PHOTO-00000565.jpg">
                </a>

            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a>
                    <img class="card-img-top" src="../assets/images/News&Events/2017-09-23-PHOTO-00000566.jpg">
                </a>

            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a>
                    <img class="card-img-top" src="../assets/images/News&Events/2017-09-23-PHOTO-00000567.jpg">
                </a>

            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a>
                    <img class="card-img-top" src="../assets/images/News&Events/2017-09-23-PHOTO-00000568.jpg">
                </a>

            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a>
                    <img class="card-img-top" src="../assets/images/News&Events/2017-09-23-PHOTO-00000569.jpg">
                </a>

            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a>
                    <img class="card-img-top" src="../assets/images/News&Events/2017-09-23-PHOTO-00000570.jpg">
                </a>

            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a>
                    <img class="card-img-top" src="../assets/images/News&Events/2017-09-23-PHOTO-00000571.jpg">
                </a>
            </div>
        </div>
    </div>
</div>