<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">About Us

    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="home">Home</a>
        </li>
        <li class="breadcrumb-item active">About</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid rounded mb-4" src="./assets/images/about_us.jpg" alt="">
            <!-- <button class="btn">
                <i class="fa fa-file-pdf-o"> </i>
                <a href="./assets/images/brouchure mar2018.pdf" download> Download Brochure</a>

            </button> -->
        </div>
        <div class="col-lg-6">
            <h2>About Payload</h2>
            <p>Payload Cargo LLC is one of the leading privately owned logistics company in the UAE providing cost effective
                logistics solutions worldwide.We believe in reliable , high quality , value for money freight solutions to
                our customers.</p>
            <p>At Payload Cargo we are committed in delivering the best freight and logistics solutions globally. We develop
                comprehensive tailor made project logistics to meet our customer needs.Our team is air and sea freight experts
                in delivering, customers can rely on Payload Cargo for Fixed/Blocked space capacities with all major carriers
                worldwide.
            </p>
            <p>Our knowledge coupled with international management puts PAYLOAD CARGO in the forefront in offering the best
                logistics solutions to our clients with complete supply chain management from door to door. We provide a
                combination of cost-effective logistics services to our clients worldwide.</p>
            <p>We will at all time tailor our products to precisely meet the needs of our clients.</p>
            <p>We deliver superior quality service and good value for our clients. We offer value added service that include
                pre-shipment services like pick and pack , special packaging services and 24hours customer service. We are
                located at the Air Cargo city, Freight gate-5 at Dubai Airport Free Zone.(DAFZ).</p>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-6 mb-6">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="./assets/images/vision.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Vision</h4>
                    <p class="card-text">To serve the cargo industry with effective logistics management solutions and to be recognized as the
                        most reliable logistics provider in the market.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-6">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="./assets/images/mission.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Mission</h4>
                    <p class="card-text">Provide quality logistics solutions and gain our customers trust and satisfaction.</p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->
</div>
<!-- /.container -->