<!-- Page Content -->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Agent Network </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="home">Home</a>
        </li>
        <li class="breadcrumb-item active">Agent Network</li>
    </ol>
    <!-- Image Header -->

    <div class="row">
        <h4>We are now a member of three logistics network and an authorised customs broker of Dubai customs!!!</h4>
    </div>
    <div class="row">
        <div class="col-md-3 container">
            <img class="img-fluid mb-4" style="vertical-align:middle;" src="./assets/images/cargo_weber.png" alt="">
        </div>

        <div class="col-md-3 container">
            <img class="img-fluid mb-4" style="vertical-align:middle;" src="./assets/images/FNC_LOGO.jpg" alt="">
        </div>

        <div class="col-md-3 container">
            <img class="img-fluid mb-4"style="vertical-align:middle;"  src="./assets/images/freightnet_logo.png" alt="">
        </div>


        <div class="col-md-3 container">
            <img class="img-fluid mb-4" src="./assets/images/dubai_customs.png" alt="">
        </div>
    </div>

    <div class="col-md-12 container" align="center">
        <img class="img-fluid rounded mb-4" src="./assets/images/Our_agent_network.jpg" alt="">
    </div>

</div>