<!-- Page Content -->
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Agent Network </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="home">Home</a>
        </li>
        <li class="breadcrumb-item active">Agent Network</li>
    </ol>
    <!-- Image Header -->
    <div class="col-md-12 container" align="center">
        <img class="img-fluid rounded mb-4" src="./assets/images/Our_agent_network.jpg" alt="">
    </div>
</div>