body {
    padding-top: 64px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.nav-link {
    display: block;
    padding: 0 0;
}

.navbar-nav {
    font-size: 1.3rem;
    font-weight: 600;
}

footer {
    background-image: url('../assets/images/footer_background1.png');
}

.social {
    font-size: 30px;
}

.getrate:hover {
    color: #0056b3;
    text-decoration: underline;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}