<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="nav-item nav-link" routerLinkActive="active" routerLink="home">
      <img class="img-responsive" style="display:inline;width: 150px;" src="./assets/images/logo.png" />
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="aboutus">About Us</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="services">Services</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="news-events">Events</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="careers">Careers</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="contactus">Contact Us</a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" routerLinkActive="active" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
          <div class="dropdown-menu" routerLink="services">
            <a class="dropdown-item" fragment="landTransport" (click)="goToRoute('landTransport')">LAND TRANSPORT</a>
            <a class="dropdown-item" fragment="airFreight" (click)="goToRoute('airFreight')">AIR FREIGHT</a>
            <a class="dropdown-item" fragment="seaFreight" (click)="goToRoute('seaFreight')">SEA FREIGHT</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<router-outlet></router-outlet>

<!-- Footer -->
<footer class="py-5" style="padding-top: 10rem !important;">
  <div class="container ">
    <div class="row text-center">
      <div class="col-md-6">
        <h4 style="color:white;text-decoration:none;">Quick Access</h4>
        <span style="color: #007bff;">
          <span (click)="appService.open()" class="getrate">Get Rate</span> |
          <a href="http://www.aircargotracking.net" target="_blank">Track a Shipment</a> |
          <a routerLink="agent-network">Our Agent Network</a>
        </span>
      </div>
      <div class="col-md-6">
        <h4 style="color:white;text-decoration:none;">PAYLOAD CARGO LLC</h4>
        <span style="color: #007bff;">
          <a routerLink="#">Home</a> |
          <a routerLink="aboutus">About Us</a> |
          <a routerLink="services">Services</a> |
          <a routerLink="careers">Career</a> |
          <a routerLink="contactus">Contact Us</a>
        </span>
        <div>
          <span>
            <a routerLink="privacy" style="color:white;text-decoration:none;">Privacy Policy</a> |
            <a routerLink="terms" style="color:white;text-decoration:none;">Terms</a>
          </span>
        </div>
      </div>
    </div>

    <div class="text-center">
      <img src="./assets/images/footer_logo.png" alt="payload" />
      <p class="m-0 text-white"> © 2015 Payload Cargo LLC. All Rights Reserved.</p>
    </div>
    <div class="row">
      <div class="social col-sm-6">
        <a href="" target="_blank">
          <i class="fa fa-google-plus-square"></i>
        </a>
        <a href="" target="_blank">
          <i class="fa fa-twitter-square"></i>
        </a>
        <a href="" target="_blank">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a href="" target="_blank">
          <i class="fa fa-linkedin-square"></i>
        </a>
      </div>
      <div class="col-sm-6 text-right align-bottom">
        <span style="color:white ">Designed By:
          <a href="http://www.appyfi.com/ " target="_blank ">
            APPY-FI</a>
        </span>
      </div>
    </div>
  </div>
  <!-- /.container -->
</footer>
<!-- <rate-enquiry></rate-enquiry> -->