<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Services</h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="home">Home</a>
    </li>
    <li class="breadcrumb-item active">Services</li>
  </ol>

  <!-- Services -->
  <div class="row">
    <div class="col-md-4">
      <a>
        <img class="img-fluid rounded mb-3 mb-md-0" src="./assets/images/services1.jpg" alt="">
      </a>
    </div>
    <div class="col-md-8">
      <h3>LAND TRANSPORT</h3>
      <p>Transport on roads can be roughly grouped into the transportation of goods and transportation of people. In many countries
        licencing requirements and safety regulations ensure a separation of the two industries.The nature of road transportation
        of goods depends, apart from the degree of development of the local infrastructure, on the distance the goods are
        transported by road, the weight and volume of the individual shipment, and the type of goods transported. For short
        distances and light, small shipments a van or pickup truck may be used. For large shipments even if less than a full
        truckload a truck is more appropriate. (Also see Trucking and Hauling below). In some countries cargo is transported
        by road in horse-drawn carriages, donkey carts or other non-motorized mode. Delivery services are sometimes considered
        a separate category from cargo transport. In many places fast food is transported on roads by various types of vehicles.
        For inner city delivery of small packages and documents bike couriers are quite common.</p>
      <p>Payload cargo has been providing regular full truck services within the Middle East Region, we provide tailor made
        RFS to meet our customer needs. Our RFS services are supported by a professinal team with effective communication
        and IT system to ensure ontime delivery.</p>
    </div>
  </div>
  <!-- /.row -->
  <hr>

  <div class="row">
    <div class="col-md-4">
      <a>
        <img class="img-fluid rounded mb-3 mb-md-0" src="./assets/images/services2.jpg" alt="">
      </a>
    </div>
    <div class="col-md-8">
      <h3>AIR FREIGHT</h3>
      <p>We go beyond in providing integrated air freight service that includes air cargo transportatio,crago aircraft chartering,wolrdwide
        door to door services,custom clearance,special cargo handling,perishable and live animals transportation,international
        deliveries through our network worldwide.</p>
      <p> Our fast,safe and prompt service to each destination in the world makes ua a preferred and trusted name in air freight
        services. From minimum shipment to full air charter , Payload Cargo can cater any air freight requirement. We offer
        a reliable and flexible air freight services to our clients. We have unrivalled facilities and considerable experience
        in handling all types of air cargo round the clock. </p>
      <ul style="padding-left:10px;">
        <h5>Our Air Fright Services:</h5>
        <li>Internation freight forwarding.</li>
        <li>Pick and pack,warehousing and distribution.</li>
        <li>Full air charter services.</li>
        <li>Fair,exhibition and event logistics handling.</li>
        <li>Perishable and temperature controlled.</li>
        <li>Shipment handling.</li>
        <li>Consolidation.</li>
        <li>Worldwide door to door.</li>
        <li>Dangerous good handling.</li>
        <li>AVI handling</li>
        <li>AOG handling.</li>
      </ul>
    </div>
  </div>
  <!-- /.row -->
  <hr>



  <div class="row">
    <div class="col-md-4">
      <a>
        <img class="img-fluid rounded mb-3 mb-md-0" src="./assets/images/services3.jpg" alt="">
      </a>
    </div>
    <div class="col-md-8">
      <h3>SEA FREIGHT</h3>
      <p>Payload Cargo is operating within a network of shipping agents worldwide to provide competitive rates and options for
        moving FLC(Full Load Cargo), LCL(Less Than Container Load) and Break-Bulk Cargo.</p>
      <p>We will identify your optimal logistics solution in terms of best time-to-cost variation based on the specific requirements.</p>
      <p>Our fast, safe and prompt service to each and every corner of the world makes us a preferred and trusted name in Sea
        freight services</p>
      <p> Our long term relationship with Shipping lines allows us to offer you delivery,flexibilty and competitive price.
      </p>
    </div>
  </div>
  <!-- /.row -->
  <hr>


  <div class="row">
    <div class="col-md-4">
      <a>
        <img class="img-fluid rounded mb-3 mb-md-0" src="./assets/images/services4.jpg" alt="">
      </a>
    </div>
    <div class="col-md-8">
      <h3>REMOVAL AND RELOCATION</h3>
      <p>Planning to relocate??In search of a hassle-free move?? We will make sure of the safe transport of your items and take
        care of everything which includes dismantling and reassembling.</p>
      <p>We have trained professionals for loading and unloading using suitable equipments. Furthermore, we have a modern fleet
        in transportation, insurance facility, and we will handle all the documentation and customs clearance procedure.Your
        belongings are safe and secure until it’s ready for delivery.</p>
    </div>
  </div>
  <!-- /.row -->
  <hr>


  <div class="row">
    <div class="col-md-4">
      <a>
        <img class="img-fluid rounded mb-3 mb-md-0" src="./assets/images/services5.jpg" alt="">
      </a>
    </div>
    <div class="col-md-8">
      <h3>WAREHOUSING AND DISTRIBUTION</h3>
      <p>Require warehousing and distribution services??? We offer services covering domestic goods, high value goods or even
        heavy machinery to any location around the world at a competitive pricing.</p>
      <p> Whether you require long haul or transient storage, we can provide Storage and Warehousing. We have an Air, Sea or
        Road as modes of transportation.</p>
    </div>
  </div>
  <!-- /.row -->
  <hr>


  <div class="row">
    <div class="col-md-4">
      <a>
        <img class="img-fluid rounded mb-3 mb-md-0" src="./assets/images/services6.jpg" alt="">
      </a>
    </div>
    <div class="col-md-8">
      <h3>CONSOLIDATION SERVICES</h3>
       <p>Payload Cargo uses premium freight carriers with established routings for consolidations. Many different options are
        available for the most competitive and reliable freight forwarding service. </p>
        <p>By skillfully grouping smaller consignments of goods into a large consignment, Payload Cargo obtains reduced rates
          for its customers. Here, the benefits of new era mass transportation translate into reduced costs for our customers.</p>
    </div>
  </div>
  <!-- /.row -->
  <hr>

  <div class="row">
    <div class="col-md-4">
      <a>
        <img class="img-fluid rounded mb-3 mb-md-0" src="./assets/images/services7.jpg" alt="">
      </a>
    </div>
    <div class="col-md-8">
      <h3>DANGEROUS GOODS HANDLING</h3>
      <p>Payload Cargo LLC is a specialist in the movement of all types of DG shipments.We have a committed professional DG
        team that have an extensive amount of experience in the world of hazardous cargo.</p>
      <ul style="padding-left:10px;">
        <li>Door to door DG service.</li>
        <li>MSDS management.</li>
        <li>Classifications.</li>
        <li>Packaging , re-packing and inspection.</li>
        <li>Labelling and transport.</li>
        <li>Prepare declaration of dangerous goods(DGD).</li>
      </ul>
    </div>
  </div>
  <!-- /.row -->
  <hr>

  <div class="row">
    <div class="col-md-4">
      <a>
        <img class="img-fluid rounded mb-3 mb-md-0" src="./assets/images/services8.jpg" alt="">
      </a>
    </div>
    <div class="col-md-8">
      <h3>AVI TRANSPORTATION</h3>
      <p>We offer comfort shipments of live animals, handled by licensed employees and door to door delivery by road transport.</p>
      <p>Our employees have required training and experience in shipping live animals. We are at your disposal at all times.</p>
    </div>
  </div>
  <!-- /.row -->
  <hr>

  <div class="row">
    <div class="col-md-4">
      <a>
        <img class="img-fluid rounded mb-3 mb-md-0" src="./assets/images/services9.jpg" alt="">
      </a>
    </div>
    <div class="col-md-8">
      <h3>OVERSIZED SHIPMENTS</h3>
      <p>Over sized Aircraft engine?Heavy turbine?Helipcopters? Yes,we accept challenges!Most complicated logistics challenges
        require the application of experience and special knowledge.</p>
      <p>Payload Cargo has proven itself to be a reliable partner and a leading expert in the industry.We are ready to meet
        any logistics challemges however complicated the task may be.</p>
      <ul style="padding-left:10px;">
        <h5>Our advantages:</h5>
        <li>Induvidual approach to every customer.</li>
        <li>Global network.</li>
        <li>Professional team.</li>
      </ul>
    </div>
  </div>
  <!-- /.row -->
  <hr>


  <div class="row">
    <div class="col-md-4">
      <a>
        <img class="img-fluid rounded mb-3 mb-md-0" src="./assets/images/services10.jpg" alt="">
      </a>
    </div>
    <div class="col-md-8">
      <h3>VEHICLE LOADING</h3>
      <p>Payload Cargo transportation and logistics solutions connect automotive dealers, auctions, commercial clients and car
        owners nationwide.</p>
      <p> From anywhere to everywhere, we make it easy to transport your vehicles quickly and conveniently.</p>
    </div>
  </div>
  <!-- /.row -->
  <hr>
  <div class="row">
    <div class="col-md-4">
      <a>
        <img class="img-fluid rounded mb-3 mb-md-0" src="./assets/images/services11.jpg" alt="">
      </a>
    </div>
    <div class="col-md-8">
      <h3>CONVENTIONAL SHIPMENT HANDLING</h3>
      <p>Conventional shipping is mainly used for bulk cargo. This can be unpacked cargo such as grains, pumped directly from
        silos at the ports into the vessel's loading bays, or bagged cargo. Other uses for conventional vessels include the
        shipping of goods that, owing to their weight or dimensions, can not be loaded in a container.</p>
      <p>The logistics of infrastructure- and other projects often involves shipment of goods on conventional vessels. The project
        experts of Payload Cargo can provide you with the right solution for your shipment, no matter what size or weight,
        or what kind of vessel is required.</p>
    </div>
  </div>
  <!-- /.row -->
  <hr>
  <div class="row">
    <div class="col-md-4">
      <a>
        <img class="img-fluid rounded mb-3 mb-md-0" src="./assets/images/services12.jpg" alt="">
      </a>
    </div>
    <div class="col-md-8">
      <h3>CUSTOM CLEARANCE</h3>
      <p>The goods that you want to transfer while you are moving to another country are subject to clearance when you are entering
        a country or moving to a country. We will provide you a hassle-free moving with the following services.</p>
      <ul style="padding-left:10px;">
        <li>Accurate preparation and customs clearance documentation that is necessary for entry into the country.</li>
        <li>Receival of your items and goods.</li>
      </ul>
      <p>Our team of professionals are well aware of the customs policies and the regulations. We will make sure that you clear
        your cargo quickly and will move into your new home tension free.</p>
    </div>
  </div>
  <!-- /.row -->
  <hr>
  <div class="row">
    <div class="col-md-4">
      <a>
        <img class="img-fluid rounded mb-3 mb-md-0" src="./assets/images/services13.jpg" alt="">
      </a>
    </div>
    <div class="col-md-8">
      <h3>TEMPERATURE SENSITIVE AND LIFE SAVING SHIPMENTS</h3>
      <p>Transporting healthcare by air needs the establishment of complex logistical methods to maintain a pharmaceutical shipment's
        integrity.It requires specific equipment,storage facilities,harmonized handling procedures and above all strong co-operation
        amount with the cols chain partners.</p>
      <p>At Payload Cargo we know the importance of temperature controlled shipments.We provide integrated solutions to door-to-door
        refrigerated supply chain requirements.Payload Cargo is your partner of choice for temperature controlled transport
        solutions.Our specialised dedicated team ensures a reliable perishable handling.Whether it is temperature sensitive
        products or life saving produccts our logistics experts understand that each commodity has its unique transport requirements.</p>
      <ul style="padding-left:10px;">
        <h5>Our advantages of Cool services:</h5>
        <li>Tempertaure controlled storage.</li>
        <li>Time defined solutions.</li>
        <li>Express solutions.</li>
        <li>Consolidations.</li>
        <li>Airport-to-airport and door-to-door.</li>
        <li>Special packaging solutions.</li>
        <li>Import warehousing.</li>
        <li>Export processing.</li>
      </ul>
    </div>
  </div>
  <!-- /.row -->
  <hr>
  <div class="row">
    <div class="col-md-4">
      <a>
        <img class="img-fluid rounded mb-3 mb-md-0" src="./assets/images/services14.jpg" alt="">
      </a>
    </div>
    <div class="col-md-8">
      <h3>TRANSFER PROJECT</h3>
      <p>We offer safe and cost effective project handling services that include</p>
      <ul style="padding-left:10px;">
        <li>High and heavy lifting.</li>
        <li>Procurement assistance.</li>
        <li>Site management.</li>
        <li>Customer-site cooperation.</li>
        <li>Inspection and project planning.</li>
        <li>Efficient and cost effective operations.</li>
      </ul>
    </div>
  </div>
  <!-- /.row -->
  <hr>

  <div class="row">
    <div class="col-md-4">
      <a>
        <img class="img-fluid rounded mb-3 mb-md-0" src="./assets/images/services15.jpg" alt="">
      </a>
    </div>
    <div class="col-md-8">
      <h3>TIME BOUND SHIPMENTS</h3>
      <p>Our time bound service is designed to meet your just-in-time requirements.When time is critical for your shipments
        our time-define air cargo service ensures that your shipments are delivered on time.</p>
    </div>
  </div>
  <!-- /.row -->
  <hr>


</div>
<!-- /.container -->