.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portfolio-item {
    margin-bottom: 30px;
}
.carousel-caption h1{
    font-weight:bolder;
    font-size: 5em;
    font-family:inherit;
}
.carousel-caption p{
    font-weight:bolder;
    font-size: 1em;
    font-family:inherit;
}

