<header style="padding-top: 110px;">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>


        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('./assets/images/slide1.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <!-- <h3>First Slide</h3>
                    <p>This is a description for the first slide.</p> -->
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('./assets/images/slide2.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <!-- <h3>Second Slide</h3>
                    <p>This is a description for the second slide.</p> -->
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('./assets/images/slide3.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <!-- <h3>Third Slide</h3>
                    <p>This is a description for the third slide.</p> -->
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('./assets/images/slide4.jpg')">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('./assets/images/slide5.jpg')">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('./assets/images/slide6.jpg')">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>


<!-- Page Content -->
<div class="container">
    <h1 class="my-4">Welcome to Payload Cargo</h1>
    <section>
        <p>Payload Cargo LLC is one of the leading privately owned logistics company in the UAE providing cost effective logistics
            solutions worldwide.We believe in reliable , high quality , value for money freight solutions to our customers.</p>
        <p>At Payload Cargo we are committed in delivering the best freight and logistics solutions globally. We develop comprehensive
            tailor made project logistics to meet our customer needs.Our team is air and sea freight experts in delivering,
            customers can rely on Payload Cargo for Fixed/Blocked space capacities with all major carriers worldwide.</p>
    </section>


    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-3 mb-3">
            <div class="card h-100">
                <h4 class="card-header">Get a Quick Rate!</h4>
                <div class="card-body">
                    <p class="card-text">We develop comprehensive tailor made project logistics to meet our customer needs.</p>
                </div>
                <div class="card-footer">
                    <button (click)="open(content)" class="btn btn-primary">Get Rate</button>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-3">
            <div class="card h-100">
                <h4 class="card-header">Track a Shipment!</h4>
                <div class="card-body">
                    <p class="card-text"> Here’s the fastest way to check the status of your shipment.</p>
                </div>
                <div class="card-footer">
                    <a href="http://www.aircargotracking.net/" class="btn btn-primary">Track</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-3">
            <div class="card h-100">
                <h4 class="card-header">My Shipments!</h4>
                <div class="card-body">
                    <p class="card-text">
                        Payload Shipping is the online shipping solution that helps you manage express shipments.
                    </p>
                </div>
                <div class="card-footer">
                    <a routerLink="/search" class="btn btn-primary">Search</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 mb-3">
            <div class="card h-100">
                <h5 class="card-header">Our Agent Network!</h5>
                <div class="card-body">
                    <p class="card-text"> Payload Cargo is always nearby, providing convenient drop-off locations that will save you time and money.</p>
                </div>
                <div class="card-footer">
                    <a routerLink="/agent-network" class="btn btn-primary">Find</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <hr>
    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-6">
            <h2>Our Promise</h2>
            <p>We Value the Corporate culture that Payload Cargo has maintained since its inception. The Culture includes the
                ability to think on our feet and take action, the ability to handle situation with persistence and passion,
                and a pioneering spirit that combines a positive attitude with speed. We aim to express our customer-first
                orientation by creating new business to address customers needs. Under our regional management system, Payload
                Cargo serves as an indispensable partner to its customers, and provide the best logistic solutions for each
                customers needs. We will continue to work hard and take on new challenges all over the world in order to
                provide high-quality service that makes customers rely on and appreciate Payload Cargo.</p>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid rounded" src="./assets/images/promise.jpg" alt="">
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Rate Enquiry</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="control-group form-group">
            <div class="controls">
                <label>Full Name:</label>
                <input type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="Full Name" required>
                <p class="help-block"></p>
            </div>
        </div>
        <div class="control-group form-group">
            <div class="controls">
                <label>Shipment:</label>
                <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="shipmentFrom" name="shipmentFrom" placeholder="Shipment from" required>
                    <input type="text" class="form-control" [(ngModel)]="shipmentTo" name="shipmentTo" placeholder="Shipment to" required>
                </div>
            </div>
        </div>
        <div class="control-group form-group">
            <div class="controls">
                <label>Consignment Info:</label>
                <input type="text" class="form-control" placeholder="Company Name" [(ngModel)]="companyName" name="cname" required />
                <label></label>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Weight" [(ngModel)]="weight" name="weight" required />
                    <input type="number" class="form-control" placeholder="Volume" [(ngModel)]="volume" name="volume" required />
                </div>
            </div>
        </div>
        <div class="control-group form-group">
            <div class="controls">
                <label>Contact Info:</label>
                <input type="email" class="form-control" placeholder="Email Address" name="email" [(ngModel)]="email" required />
                <label></label>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Phone Prefix" name="prefix" [(ngModel)]="prefix" required />
                    <input type="number" class="form-control" placeholder="Phone Number" name="phone" [(ngModel)]="phone" required />
                </div>
            </div>
        </div>

        <div class="control-group form-group">
            <div class="controls">
                <label>Message:</label>
                <textarea type="text" class="form-control" name="message" [(ngModel)]="message"></textarea>
                <p class="help-block"></p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" name="submit" class="btn btn-success" (click)="c('Close click')">Submit</button>
        <button type="reset" name="reset" class="btn btn-danger" (click)="c('Close click')">Cancel</button>
    </div>
</ng-template>